<?xml version="1.0"?>
<config>
    <modules>
        <Mageaustralia_Preorder>
            <version>0.1.0</version>
        </Mageaustralia_Preorder>
    </modules>
    <global>
        <helpers>
            <mageaustralia_preorder>
                <class>Mageaustralia_Preorder_Helper</class>
            </mageaustralia_preorder>
        </helpers>
        <blocks>
            <mageaustralia_preorder>
                <class>Mageaustralia_Preorder_Block</class>
            </mageaustralia_preorder>
        </blocks>
        <models>
            <mageaustralia_preorder>
                <class>Mageaustralia_Preorder_Model</class>
            </mageaustralia_preorder>
        </models>
        <resources>
            <mageaustralia_preorder_setup>
                <setup>
                    <module>Mageaustralia_Preorder</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </mageaustralia_preorder_setup>
        </resources>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <mageaustralia_preorder_cart_add>
                        <type>singleton</type>
                        <class>mageaustralia_preorder/observer</class>
                        <method>onCartItemAdd</method>
                    </mageaustralia_preorder_cart_add>
                </observers>
            </checkout_cart_product_add_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <mageaustralia_preorder_to_order>
                        <type>singleton</type>
                        <class>mageaustralia_preorder/observer</class>
                        <method>onQuoteItemToOrderItem</method>
                    </mageaustralia_preorder_to_order>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <core_block_abstract_to_html_after>
                <observers>
                    <mageaustralia_preorder_cart_label>
                        <type>singleton</type>
                        <class>mageaustralia_preorder/observer</class>
                        <method>onBlockHtmlAfter</method>
                    </mageaustralia_preorder_cart_label>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_order_place_after>
                <observers>
                    <mageaustralia_preorder_send_ics>
                        <type>singleton</type>
                        <class>mageaustralia_preorder/observer</class>
                        <method>onOrderPlaceAfter</method>
                    </mageaustralia_preorder_send_ics>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <routers>
            <mageaustralia_preorder>
                <use>standard</use>
                <args>
                    <module>Mageaustralia_Preorder</module>
                    <frontName>preorder</frontName>
                </args>
            </mageaustralia_preorder>
        </routers>
        <layout>
            <updates>
                <mageaustralia_preorder>
                    <file>mageaustralia_preorder.xml</file>
                </mageaustralia_preorder>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mageaustralia_Preorder>
                    <files>
                        <default>Mageaustralia_Preorder.csv</default>
                    </files>
                </Mageaustralia_Preorder>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mageaustralia_Preorder>
                    <files>
                        <default>Mageaustralia_Preorder.csv</default>
                    </files>
                </Mageaustralia_Preorder>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <mageaustralia_preorder_reminders>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>mageaustralia_preorder/cron_reminders::run</model>
                </run>
            </mageaustralia_preorder_reminders>
        </jobs>
    </crontab>
    <default>
        <mageaustralia_preorder>
            <general>
                <enabled>1</enabled>
                <default_button_text>Pre-order now</default_button_text>
                <landing_page_enabled>1</landing_page_enabled>
                <send_reminder_7d>1</send_reminder_7d>
                <send_reminder_1d>1</send_reminder_1d>
                <ics_attach>1</ics_attach>
            </general>
        </mageaustralia_preorder>
    </default>
</config>
